h1 {
  font-weight: 300;
  margin: 0 0 0.8em;
  padding: 0 0 0.2em;
}

p {
  color: #eee;
  font-weight: 300;
  line-height: 1.6em;
}

div#room-selection {
  margin: 3em auto 0;
  padding: 1em 1.5em 1.3em;
  width: 25em;
}

input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #4c4c4f;
  color: #fff;
  display: block;
  font-size: 1em;
  margin-right: 20px;
  padding: 0.4em 0;
  width: 100%;
}
