.left {
  float: left;
  width: 200px;
  height: 100vh;
  border: 1px solid red;
}

.right {
  position: relative;
  width: auto;
  height: 100vh;
  margin-left: 200px;
  border: 1px solid black;
}

.bgimg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
