
<div class="left">
  <mat-select [(ngModel)]="tool" (change)="resetMouse()">
    <mat-option value="rect">Rectangle</mat-option>
    <mat-option value="path">Path</mat-option>
    <mat-option value="plotpath">PlotPath</mat-option>
  </mat-select>
</div>
<!--
<div class="left">
  <img class="bgimg" [style.width.px]="width" [style.height.px]="height" src="assets/background.jpg"/>
  <div #wrapper class="svg" id="drawing"></div>
</div>
-->

<div class="right">
  <img class="bgimg" src="assets/background.jpg"/>
  <div #wrapper class="svg" id="drawing"></div>
</div>

